.st0{fill:#FFFFFF;}
.st1{fill:#DFDFDF;}
.st2{fill:#FF1C1C;}
.st3{fill:#DF1818;}


*{
    margin: 10 !important;
    padding: 10 !important;
    box-sizing: border-box;
}
.theBody{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.theSvg{
    object-fit:cover;
    width:100%;
    height:555px;
}
.rotateBall{
    animation: ball .9s ease infinite;
    transform-origin: center;
    transform-box: fill-box ;
}

@keyframes ball {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
    
}